/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;1,400&display=swap');

/* Helpers & Reset */
:root {
    --c-brand: #fac562;
    --c-dark: #333;
    --c-body: #666;
    --c-light: #ebebeb;
    --f-base: "Plus Jakarta Sans", sans-serif;
    --n-height: 100px;
}

*,*::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--c-body);
    font-family: var(--f-base);
    line-height: 1.8;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--c-dark);
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 400;
}

.heading-xl {
    font-size: clamp(44px, 10vw, 100px);
    text-transform: uppercase;
}

.heading-1 {
    font-size: clamp(32px, 6vw, 54px);
}

.heading-2 {
    font-size: clamp(28px, 4vw, 36px);
}

.heading-3 {
    font-size: 20px;
}

a {
    color: var(--c-dark);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

a:hover {
    color: var(--c-brand);
}


img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

section {
    padding: 140px 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--c-brand);
    font-family: var(--f-base);
    padding: 16px 34px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
}

.btn:hover {
    background-color: var(--c-brand);
    color: white;
}

.line {
    width: 60px;
    height: 2px;
    background-color: var(--c-brand);
    display: block;
    margin: 0 auto;
}



/* Hero */
#hero {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/apertodemao.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
}

#text-switcher {
    color: #d8d8d8; /* cinza escuro */
    font-size: 90px;
  }

@media only screen and (max-width: 768px) {
    /* ajusta o tamanho da fonte para telas menores que 768 pixels de largura */
    #text-switcher {
        font-size: 7vw; /* ajusta o tamanho da fonte para 5% da largura da tela */
    }
}


/* IMAGE */
.bg-image h1,
.bg-image p {
  color: #fff;
}

.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url(../images/logoBortolin4.png);
    background-size: auto;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000000;
    padding: 10vw 0;
  }
  
  /* Estilos para telas maiores */
  @media only screen and (min-width: 1024px) {
    .bg-image {
      padding: 100px 0;
    }
    .bg-image h1 {
      font-size: 48px;
      margin-bottom: 20px;
    }
    .bg-image p {
      font-size: 24px;
      line-height: 1.5em;
    }
  }
  
  /* Estilos para telas médias */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .bg-image h1 {
      font-size: 4vw;
      margin-bottom: 2vw;
    }
    .bg-image p {
      font-size: 2vw;
      line-height: 1.5em;
    }
  }
  
  /* Estilos para telas menores */
  @media only screen and (max-width: 767px) {
    .bg-image {
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url(../images/logoBortolin4.png);
        background-size: 200%;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #000000;
        padding: 10vw 0;
      }
    
    .bg-image h1 {
      font-size: 6vw;
      margin-bottom: 2vw;
      text-align: center;
    }
    .bg-image p {
      font-size: 4vw;
      line-height: 1.5em;
      text-align: center;
    }
  }
    
  /* //Image */
  
@keyframes scrolltodown {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }

    50% {
        transform: translateY(-30%);
        opacity: 1;
    }

    100% {
        transform: translateY(60%);
        opacity: 0;
    }
}

.scroll-to-down {
    width: 30px;
    height: 60px;
    margin-left: -15px;
    display: grid;
    place-content: center;
    font-size: 24px;
    color: white;
    border: 2px solid rgba(255,255,255, 0.2);
    border-radius: 100px;
    position: absolute;
    bottom: 48px;
    left: 50%;
}

.scroll-to-down .las {
    animation: scrolltodown 2s ease infinite;
}

/* Section title */
.section-intro {
    margin-bottom: 44px;
}

/* Grid*/
.grid {
    display: grid;
    gap: 44px;
}

.two-col-grid {
    grid-template-columns: repeat(2, 1fr);
}

.three-col-grid {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {

    .grid {
        gap: 24px;
    }

    .two-col-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .three-col-grid {
        grid-template-columns: repeat(1, 1fr);
    }
 
    
}



/* Service */
#services .grid {
    gap: 0;
}
.service:nth-child(odd) {
    background-color: var(--c-light);
}

.service {
    padding: 44px;
}

.service p {
    font-size: 14px;
}

.service .icon {
    font-size: 38px;
    color: var(--c-brand);
}

/* Project */
.project {
    position: relative;
    overflow: hidden;
  }
  
  .project img {
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
  }
  
  .project .overlay h2 {
    font-size: 25px;
    color: white;
  }
  
  .project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    padding: 44px;
    display: flex;
    align-items: flex-end;
    opacity: 0.3;
    transition: opacity 0.4s ease-in-out;
    color: #fff; /* adicione esta linha */
  }
  
  .project .overlay p {
    color: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  
  .project:hover .overlay {
    display: flex;
    opacity: 0.8;
  }
  
  .project:hover .overlay p {
    opacity: 1;
  }
  
  .project:hover img {
    transform: rotate(15deg) scale(1.5);
  }
    
  @media (max-width: 767px) {
    .project .overlay {
        text-align: center;
      display: flex;
      opacity: 0.8;
    }
  
    .project .overlay p {
        text-align: center;
      opacity: 1;
    }
  
    .project img {
      transform: rotate(15deg) scale(1.5);
    }
  }
  

/* contact */
#contact .grid {
    grid-template-columns: 1fr 2.5fr;
}

@media (max-width: 768px) {
    #contact .grid {
        grid-template-columns: 1fr;
    }
}

form {
    width: 100%;
}

.contact-widget {
    margin-bottom: 44px;
}

.form-group {
    margin-bottom: 24px;
}

.form-group .form-input {
    display: block;
    width: 100%;
    padding: 16px 0;
    border-radius: 0;
    border: none;
    font-family: var(--f-base);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 10px; /* adicione este estilo */
}


.form-group .form-input:focus {
    outline: none;
}

.extra_info {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    border-radius: 5px;
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    margin: 5px 0;
  }

  
.form-group .form-input:focus,
.form-group .form-input:active {
    outline: none;
    border-bottom: 1px solid #ffc107;
}


/* Footer */
footer {
    padding: 60px 0;
    background-color: var(--c-dark);
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer p,
footer a {
    color: white;
}

footer .social-icons a {
    font-size: 24px;
}

footer .social-icons a:not(:last-child) {
    margin-right: 24px;
}