:root {
    --c-brand: #fac562;
    --c-dark: #333;
    --c-body: #666;
    --c-light: #ebebeb;
    --f-base: "Plus Jakarta Sans", sans-serif;
    --n-height: 100px;
}


/* Navbar */
.navbar-brand img {
    max-height: 150px; /* Define a altura máxima da imagem */
    margin-top: -10px; /* Ajusta o posicionamento vertical da imagem */
  }

.navbar-brand {
      
      font-size: 10px;
      font-weight: 700;
      color: var(--c-dark);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--n-height);
    display: flex;
    z-index: 999;
    transition: all 0.5s ease;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    color: white;
    font-size: 28px;
}

.nav-links {
    display: flex;
}

.nav-links li:not(:last-child) {
    margin-right: 44px;
}

.nav-links li a, .nav-links a {
    color: rgb(216, 216, 216);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links li a:hover, .nav-links a:hover {
    color: var(--c-brand);
}

.hamburger {
    display: block;
    cursor: pointer;
    display: none;
}

.hamburger span {
    display: block;
    width: 34px;
    height: 2px;
    background-color: white;
    margin: 8px auto;
    transition: all 0.4s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}

/* Mudanças quadno scrolled para baixo */
.scrolled {
    background-color: rgb(31, 31, 31);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.scrolled .brand {
    color: var(--c-dark);
}

.scrolled .nav-links li a {
    color: var(--c-light);
}

.scrolled .nav-links li a:hover {
    color: var(--c-brand);
}

.scrolled .hamburger span {
    background-color: var(--c-dark);
}


@media (max-width: 768px) {
    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-brand img {
        max-height: 100%;
        margin-top: -10px;
        max-width: 70%;
      }
    
    .nav-links {
        position: fixed;
        top: var(--n-height);
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 0 24px;
        transition: all 0.3s ease-in-out;
        height: 0;
        overflow: hidden;
        background-color: white;
        justify-content: center;
    }

    .nav-links li a{
        color: var(--c-dark);
    }

    .nav-links.active {
        height: 200px;
    }

    .nav-links li {
        padding: 6px 0;
    }

    .hamburger {
        display: block;
    }

}

/* //Navbar */